pandas is a libarary build on top of Python. It is used for date manipulation and analydod. Most of the time it work with extracting datas from tables such as google sheets or excel.

In [1]:
from numpy import *
import numpy as np

from pandas import *
import pandas as pd

In [2]:
janice = pd.Series([55,60,63,65,66,68])

In [3]:
janice #it shows the index

0    55
1    60
2    63
3    65
4    66
5    68
dtype: int64

In [4]:
janice.name = "Janice\'s fucking weight"

In [5]:
janice

0    55
1    60
2    63
3    65
4    66
5    68
Name: Janice's fucking weight, dtype: int64

In [6]:
janice.values

array([55, 60, 63, 65, 66, 68])

In [7]:
type(janice.values)

numpy.ndarray

Can select element in the series

In [8]:
janice[0]

55

In [9]:
janice[4]

66

give the index name

In [10]:
janice.index = [
    "Jan's weight:",
    "Feb's weight:",
    "Mar's weight:",
    "Apr's weight:",
    "May's weight:",
    "June's weight:"
]

In [11]:
janice

Jan's weight:     55
Feb's weight:     60
Mar's weight:     63
Apr's weight:     65
May's weight:     66
June's weight:    68
Name: Janice's fucking weight, dtype: int64

after naming the index, you want to find the first and last value of the series but u dunno the index's name

In [12]:
janice.iloc[0]

55

In [13]:
janice.iloc[-1]

68

index selection in pandas is different from python! where python doesn't return the value of the last index while pandas will.

In [26]:
janice["Jan's weight:":"May's weight:"]

Jan's weight:    50
Feb's weight:    60
Mar's weight:    63
Apr's weight:    65
May's weight:    66
Name: Janice's fucking weight, dtype: int64

boolean series array

In [15]:
janice > 60

Jan's weight:     False
Feb's weight:     False
Mar's weight:      True
Apr's weight:      True
May's weight:      True
June's weight:     True
Name: Janice's fucking weight, dtype: bool

In [16]:
janice[janice>60]

Mar's weight:     63
Apr's weight:     65
May's weight:     66
June's weight:    68
Name: Janice's fucking weight, dtype: int64

basic calculation

In [17]:
janice.mean()

62.833333333333336

In [18]:
janice.std()

4.708148963941844

In [34]:
janice.var()

22.166666666666664

In [19]:
janice[janice>janice.mean()]

Mar's weight:     63
Apr's weight:     65
May's weight:     66
June's weight:    68
Name: Janice's fucking weight, dtype: int64

In [47]:
janice[(janice>60)&(janice<67)]

Mar's weight:    63
Apr's weight:    65
May's weight:    66
Name: Janice's fucking weight, dtype: int64

In [20]:
np.log(janice) #can still use numpy

Jan's weight:     4.007333
Feb's weight:     4.094345
Mar's weight:     4.143135
Apr's weight:     4.174387
May's weight:     4.189655
June's weight:    4.219508
Name: Janice's fucking weight, dtype: float64

modify series

In [21]:
janice[0] = 50

In [22]:
janice

Jan's weight:     50
Feb's weight:     60
Mar's weight:     63
Apr's weight:     65
May's weight:     66
June's weight:    68
Name: Janice's fucking weight, dtype: int64

In [23]:
janice.iloc[-1] = 70

In [24]:
janice

Jan's weight:     50
Feb's weight:     60
Mar's weight:     63
Apr's weight:     65
May's weight:     66
June's weight:    70
Name: Janice's fucking weight, dtype: int64